<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/gridlex.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/themes/simple.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.arcticmodal-0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.ikSelect.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <title>Необыкновенные бабочки экстра</title>
</head>

<body>

    <header class="header">
        <div class="header__wrap">
            <a class="header__wrap__img" href="/">
                <img class="header__wrap__img-prev" src="./images/logo.png" alt="">
            </a>
            <div class="group">
                <div class="header__wrap-group">
                    <div class="top-menu">
                        <ul class="top-menu__wrap">
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Доставка</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Оплата</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Гарантии</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-line"></div>
                    <div class="group-links">
                        <a class="group-links__text" href="">Статус заказа</a>
                        <a class="group-links__text" href="">Личный кабинет</a>
                    </div>
                    <div class="header-line"></div>
                    <div class="group-info">
                        <span class="group-info__text">Город доставки</span>
                        <i class="group-info__icon"></i>
                        <span class="group-info__link">Loremipsum-LoremipsumLor</span>
                    </div>
                </div>
                <div class="header__wrap-group">
                    <div class="group-info_2">
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/1.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Доставка бесплатно
                            </span>
                        </div>
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/2.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Фото момента вручения
                            </span>
                        </div>
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/3.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Бесплатная открытка
                            </span>
                        </div>
                    </div>
                    <div class="group-info_3">
                        <div class="group-info_3__elements">
                            <div class="group-info_3__elements__text">Ежедневно: c 10<sup class="group-info_3__elements__text-sup">00</sup> до 20<sup class="group-info_3__elements__text-sup">00</sup></div>
                            <a class="group-info_3__elements-phone" href="tel:88000000000">8-800-000-0000</a>
                        </div>
                    </div>
                    <div class="group-info_4">
                        <div class="group-info_4__elements">
                            <span class="group-info_4__elements-button">Обратный звонок</span>
                        </div>
                    </div>
                    <div class="group-info_5">
                        <a class="group-info_5__elements" href="basket.html">
                            <i class="group-info_5__elements-icons">2</i>
                            <div class="group-info_5__elements-group">
                                <span class="group-info_5__elements-text">Корзина</span>
                                <span class="group-info_5__elements-count">22 500 <i>&#8381;</i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <ul class="main-menu__wrap">
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Осень</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">День рождения</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Букеты</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Розы</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Премиум</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Композиции</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Подарки</a>
                </li>
                <li class="main-menu__wrap__list">
                    <a class="main-menu__wrap__list-link" href="">Свадебные букеты</a>
                </li>
            </ul>
            <form class="search" action="url">
                <input class="search__poly" type="text" placeholder="Поиск">
                <div class="search__wrap">
                    <input class="search__wrap-button" type="submit" value="">
                </div>
            </form>
        </div>
        <div class="breadcrumbs">
            <a class="breadcrumbs__link" href="/">Главная</a>
            <span>/</span>
            <a class="breadcrumbs__link" href="">Каталог товаров</a>
            <span>/</span>
            <span class="breadcrumbs__link">Необыкновенные бабочки экстра</span>
        </div>
    </header>

   <div class="content">
       <div class="grid-2">
           <div class="col-7">
                <div class="gallery">
                    <div class="group">
                        <div class="gallery__mini">
                            <div class="gallery__mini__img js-gallery active">
                                <img class="gallery__mini__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                            </div>
                            <div class="gallery__mini__img js-gallery">
                                <img class="gallery__mini__img-prev" src="./images/infoblock-img/mini.jpg" alt="">
                            </div>
                            <div class="gallery__mini__img js-gallery">
                                <img class="gallery__mini__img-prev" src="./images/infoblock-img/mini.jpg" alt="">
                            </div>
                        </div>
                        <div class="gallery__btn">
                            <div class="gallery__btn-img"></div>
                            <span class="gallery__btn-text">Состав букета</span>
                        </div>
                    </div>
                    <div class="gallery__full">
                        <div class="gallery__full__sticker">
                            <span class="gallery__full__sticker-sale">-20%</span>
                            <span class="gallery__full__sticker-new">новинка</span>
                            <span class="gallery__full__sticker-hit">хит</span>
                        </div>
                        <div class="gallery__full__info">
                               <span class="gallery__full__info-text">60x30</span>
                               <span class="gallery__full__info-text">см</span>
                           </div>
                        <div class="gallery__full__img js-photo">
                            <img class="gallery__full__img-prev js-gallery-img js-photo-link" src="./images/infoblock-img/byket.jpg" alt="">
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt id obcaecati enim necessitatibus maiores possimus maxime numquam cupiditate voluptatibus sunt ipsum eveniet dignissimos, rerum nesciunt. Quidem, deleniti excepturi id illum, vel porro expedita laborum officia explicabo ab dignissimos minima saepe atque omnis voluptatem, ullam veniam eius fuga. Natus, aut. Non impedit dignissimos molestiae? Odio qui, sapiente iste id, aspernatur, veniam quam praesentium officia sint quia eos aut. Aspernatur necessitatibus consequuntur dolorem labore nulla ad rerum nam, molestiae accusantium, praesentium maxime?</p>
                <div class="content-footer">
                    <div class="content-footer__group">
                        <span class="content-footer__group-text">Поделиться:</span>
                        <div class="socials">
                            <a class="socials__link" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a class="socials__link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a class="socials__link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="socials__link" href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                            <a class="socials__link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="content-footer__group">
                        <span class="content-footer__group-text">Оценить:</span>
                        <div class="content-footer__rating">
                            <img src="./images/rate-2.png" alt="">
                        </div>
                        <span class="content-footer__rating-count">1946 голосов</span>
                    </div>
                </div>
           </div>
           <div class="col-5">
               <div class="info-block_4">
                   <h1 class="info-block_4__name">Lorem ipsum dolor sit amet, consectetur.</h1>
                   <div class="filter_2">
                       <ul class="filter_2__wrap">
                           <li class="filter_2__wrap-count js-chose">7</li>
                           <li class="filter_2__wrap-count js-chose">9</li>
                           <li class="filter_2__wrap-count js-chose">11</li>
                           <li class="filter_2__wrap-count js-chose">15</li>
                           <li class="filter_2__wrap-count js-chose">21</li>
                           <li class="filter_2__wrap-count js-chose">25</li>
                           <li class="filter_2__wrap-count js-chose">35</li>
                           <li class="filter_2__wrap-count js-chose">51</li>
                           <li class="filter_2__wrap-count js-chose">75</li>
                           <li class="filter_2__wrap-count js-chose">101</li>
                       </ul>
                   </div>
                   <div class="order-info">
                       <div class="order-info__group">
                           <span class="order-info__price">4 500 Р</span>
                           <span class="order-info__price_old">5 100 Р</span>
                       </div>
                       <div class="order-info__group">
                           <span class="order-info__text">Доставка: + 600 Р</span>
                           <span class="order-info__text">Способы оплаты</span>
                       </div>
                   </div>
                   <div class="time-block">
                       <span class="time-block__name">До конца акции осталось:</span>
                       <div class="time-block__group">
                           <div class="time-block__group__elements">
                              <div class="time-block__group__elements-count">
                                   <span class="time-block__group__elements-block">0</span>
                                   <span class="time-block__group__elements-block">5</span>
                               </div>
                               <span class="time-block__group__elements-text">дней</span>
                           </div>
                           <div class="time-block__group__elements">
                               <div class="time-block__group__elements-count">
                                   <span class="time-block__group__elements-block">2</span>
                                   <span class="time-block__group__elements-block">4</span>
                               </div>
                               <span class="time-block__group__elements-text">часы</span>
                           </div>
                           <div class="time-block__group__elements">
                               <div class="time-block__group__elements-count">
                                   <span class="time-block__group__elements-block">1</span>
                                   <span class="time-block__group__elements-block">2</span>
                               </div>
                               <span class="time-block__group__elements-text">минут</span>
                           </div>
                           <div class="time-block__group__elements">
                               <div class="time-block__group__elements-count">
                                   <span class="time-block__group__elements-block">6</span>
                                   <span class="time-block__group__elements-block">0</span>
                               </div>
                               <span class="time-block__group__elements-text">секунд</span>
                           </div>
                       </div>
                   </div>
                   <div class="filter_3">
                       <form action="url">
                           <div class="filter_3__group js-form-select">
                               <div class="filter_3__group__elements">
                                   <div class="checkbox-form">
                                       <input id="check1" type="checkbox" class="checkbox"/>
                                       <label for="check1" class="checkbox-label">Увеличить букет</label>
                                   </div>
                               </div>
                               <div class="filter_3__group__elements">
                                   <select name="" id="" class="js-select">
                                       <option value="">+60% скидка 10% (+1200 руб.) sffs sdfsdf sdf</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                   </select>
                               </div>
                           </div>
                           <div class="filter_3__group js-form-select">
                               <div class="filter_3__group__elements">
                                  <div class="checkbox-form">
                                       <input id="check2" type="checkbox" class="checkbox"/>
                                       <label for="check2" class="checkbox-label">Добавить шарики</label>
                                   </div>
                               </div>
                               <div class="filter_3__group__elements">
                                   <select name="" id="" class="js-select">
                                       <option value="">+60% скидка 10% (+1200 руб.) sffs sdfsdf sdf</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                   </select>
                               </div>
                           </div>
                           <div class="filter_3__group js-form-select">
                               <div class="filter_3__group__elements">
                                  <div class="checkbox-form">
                                       <input id="check3" type="checkbox" class="checkbox"/>
                                       <label for="check3" class="checkbox-label">Добавить конфеты</label>
                                   </div>
                               </div>
                               <div class="filter_3__group__elements">
                                   <select name="" id="" class="js-select">
                                       <option value="">+60% скидка 10% (+1200 руб.) sffs sdfsdf sdf</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                   </select>
                               </div>
                           </div>
                           <div class="filter_3__group js-form-select">
                               <div class="filter_3__group__elements">
                                  <div class="checkbox-form">
                                       <input id="check4" type="checkbox" class="checkbox"/>
                                       <label for="check4" class="checkbox-label">Добавить игрушку</label>
                                   </div>
                               </div>
                               <div class="filter_3__group__elements">
                                   <select name="" id="" class="js-select">
                                       <option value="">+60% скидка 10% (+1200 руб.) sffs sdfsdf sdf</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                       <option value="">+50% скидка 10% (+600 руб.)</option>
                                   </select>
                               </div>
                           </div>
                       </form>
                       <div class="filter_3__button">
                           <span class="filter_3__button__order">Заказать</span>
                           <span class="filter_3__button__buy_one_click">Купить в 1 клик</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="info-block_3">
           <img class="info-block_3__bg" src="./images/infoblock-img/5.png" alt="">
           <div class="info-block_3__content">
                <div class="info-block_3__content-group">
                    <h3 class="info-block_3__content__name">Lorem ipsum.</h3>
                </div>
                <div class="info-block_3__content-group">
                    <p class="info-block_3__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, mollitia!</p>
                    <a class="info-block_3__content__button" href="">Узнать подробнее</a>
                </div>
           </div>
       </div>
       <div class="info-block">
            <h3 class="info-block__name">Рекомендуемые товары</h3>
            <div class="grid-4">
                <div class="col">
                    <div class="block-product">
                       <a class="block-product__img" href="card.html">
                           <div class="block-product__img__sticker">
                               <span class="block-product__img__sticker-hit">хит</span>
                           </div>
                           <div class="block-product__img__info">
                               <span class="block-product__img__info-text">60x30</span>
                               <span class="block-product__img__info-text">см</span>
                           </div>
                           <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                       </a>
                       <div class="block-product__info">
                           <span class="block-product__info-name">Букет</span>
                           <div class="block-product__info__price">
                               <span class="block-product__info__price-current">1500 Р</span>
                           </div>
                           <div class="block-product__info__button">
                               <span class="block-product__info__button-order">Заказать</span>
                               <span class="block-product__info__button-buy_one_click">Купить в 1 клик</span>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="block-product">
                       <a class="block-product__img" href="">
                           <div class="block-product__img__sticker">
                               <span class="block-product__img__sticker-hit">хит</span>
                           </div>
                           <div class="block-product__img__info">
                               <span class="block-product__img__info-text">60x30</span>
                               <span class="block-product__img__info-text">см</span>
                           </div>
                           <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                       </a>
                       <div class="block-product__info">
                           <span class="block-product__info-name">Букет</span>
                           <div class="block-product__info__price">
                               <span class="block-product__info__price-current">1500 Р</span>
                           </div>
                           <div class="block-product__info__button">
                               <span class="block-product__info__button-order">Заказать</span>
                               <span class="block-product__info__button-buy_one_click">Купить в 1 клик</span>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="block-product">
                       <a class="block-product__img" href="">
                           <div class="block-product__img__sticker">
                               <span class="block-product__img__sticker-hit">хит</span>
                           </div>
                           <div class="block-product__img__info">
                               <span class="block-product__img__info-text">60x30</span>
                               <span class="block-product__img__info-text">см</span>
                           </div>
                           <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                       </a>
                       <div class="block-product__info">
                           <span class="block-product__info-name">Букет</span>
                           <div class="block-product__info__price">
                               <span class="block-product__info__price-current">1500 Р</span>
                           </div>
                           <div class="block-product__info__button">
                               <span class="block-product__info__button-order">Заказать</span>
                               <span class="block-product__info__button-buy_one_click">Купить в 1 клик</span>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="block-product">
                       <a class="block-product__img" href="">
                           <div class="block-product__img__sticker">
                               <span class="block-product__img__sticker-hit">хит</span>
                           </div>
                           <div class="block-product__img__info">
                               <span class="block-product__img__info-text">60x30</span>
                               <span class="block-product__img__info-text">см</span>
                           </div>
                           <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                       </a>
                       <div class="block-product__info">
                           <span class="block-product__info-name">Букет</span>
                           <div class="block-product__info__price">
                               <span class="block-product__info__price-current">1500 Р</span>
                           </div>
                           <div class="block-product__info__button">
                               <span class="block-product__info__button-order">Заказать</span>
                               <span class="block-product__info__button-buy_one_click">Купить в 1 клик</span>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-block">
            <h3 class="info-block__name">Отзовы клиентов</h3>
            <div class="grid-3">
                <div class="col">
                    <div class="block-comment">
                        <span class="block-comment__name_user">Иванов Иван</span>
                        <h4 class="block-comment__name">Заголовок отзыва</h4>
                        <p class="block-comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, delectus vitae eaque possimus, tenetur ex voluptatem!</p>
                        <div class="block-comment__rating">
                            <img src="./images/rate.png" alt="">
                        </div>
                        <span class="block-comment__date">27/10/2017</span>
                    </div>
                </div>
                <div class="col">
                    <div class="block-comment">
                        <span class="block-comment__name_user">Иванов Иван</span>
                        <h4 class="block-comment__name">Заголовок отзыва</h4>
                        <p class="block-comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, delectus vitae eaque possimus, tenetur ex voluptatem!</p>
                        <div class="block-comment__rating">
                            <img src="./images/rate.png" alt="">
                        </div>
                        <span class="block-comment__date">27/10/2017</span>
                    </div>
                </div>
                <div class="col">
                    <div class="block-comment">
                        <span class="block-comment__name_user">Иванов Иван</span>
                        <h4 class="block-comment__name">Заголовок отзыва</h4>
                        <p class="block-comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, delectus vitae eaque possimus, tenetur ex voluptatem!</p>
                        <div class="block-comment__rating">
                            <img src="./images/rate.png" alt="">
                        </div>
                        <span class="block-comment__date">27/10/2017</span>
                    </div>
                </div>
            </div>
            <div class="show-more_2">
                <div class="show-more_2__line"></div>
                <a class="show-more_2__button" href="reviews.html">Все отзывы</a>
                <div class="show-more_2__line"></div>
            </div>
        </div>
        <div class="block-add-comment">
            <h3 class="block-add-comment__name">Оставить отзыв</h3>
            <form action="url">
               <div class="block-add-comment__wrap">
                    <div class="grid-2">
                        <div class="col">
                            <div class="block-add-comment__wrap-elements">
                                <input class="input-name" name="name" type="text" placeholder="Имя">
                                <label for="name"></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="block-add-comment__wrap-elements">
                                <input class="input-phone" name="phone" type="text" placeholder="Телефон">
                                <label for="phone"></label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col">
                            <div class="block-add-comment__wrap-elements">
                                <input class="input-text" name="message" type="text" placeholder="Заголовок отзыва">
                                <label for="message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col">
                            <div class="block-add-comment__wrap-elements">
                                <textarea class="textarea" name="message" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
                                <label for="message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="grid-2">
                        <div class="col">
                            <div class="rating">
                                <span class="rating__text">Ваша оценка</span>
                                <img src="./images/rate.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <button class="submit">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   </div>
   
    <footer class="footer">
        <div class="menu-footer">
            <ul class="menu-footer__wrap">
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Осень</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">День рождения</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Букеты</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Розы</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Премиум</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Композиции</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Подарки</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Свадебные букеты</a>
                </li>
            </ul>
        </div>
        <div class="footer__wrap">
            <div class="footer__wrap__elements">
                <a class="footer-logo" href="">
                    <img class="footer-logo__prev" src="./images/logo.png" alt="">
                </a>
                <div class="footer-copyright">© 2017. Все права защищены</div>
            </div>
            <div class="footer__wrap__elements">
                <div class="group">
                    <div class="bottom-menu__group">
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">О магазине</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Доставка</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Оплата</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Партнерская программа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Гарантии</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="map.html">Карта городов </a>
                            </li>
                        </ul>
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Личный кабинет</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статьи о цветах</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статус заказа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Карта сайта</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements">
                <div class="footer__info">
                    <div class="footer-address">
                        <a class="footer-address__phone" href="tel:80000000000">8-000-000-0000</a>, Ежедневно: с 10<sup>00</sup> до 20<sup>00</sup> г. Москва, ул. Московская, д.0.<br>
                        <a class="footer-address__mail" href="mail:namecompany@mail.ru">namecompany@mail.ru</a>
                    </div>
                    <div class="socials">
                        <a class="socials__link" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements">
                <div class="footer-images">
                    <img src="./images/visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                    <img src="./images/yandex.png" alt="">
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
