<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/gridlex.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <title>Главная</title>
</head>
<body>
    
    <header class="header">
        <div class="header__wrap">
            <a class="header__wrap__img" href="/">
                <img class="header__wrap__img-prev" src="./images/logo.png" alt="">
            </a>
            <div class="group">
                <div class="header__wrap-group">
                    <div class="top-menu">
                        <ul class="top-menu__wrap">
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Доставка</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Оплата</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Гарантии</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="top-menu__wrap__body">
                                <a class="top-menu__wrap__body-link" href="">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-line"></div>
                    <div class="group-links">
                        <a class="group-links__text" href="">Статус заказа</a>
                        <a class="group-links__text" href="">Личный кабинет</a>
                    </div>
                    <div class="header-line"></div>
                    <div class="group-info">
                       <span class="group-info__text">Город доставки</span>
                       <i class="group-info__icon"></i>
                       <span class="group-info__link">Loremipsum-LoremipsumLor</span>
                    </div>
                </div>
                <div class="header__wrap-group">
                    <div class="group-info_2">
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/1.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Доставка бесплатно
                            </span>
                        </div>
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/2.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Фото момента вручения
                            </span>
                        </div>
                        <div class="group-info_2__elements">
                            <div class="group-info_2__elements__img">
                                <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/3.png" alt="">
                            </div>
                            <span class="group-info_2__elements__text">
                                Бесплатная открытка
                            </span>
                        </div>
                    </div>
                    <div class="group-info_3">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="header__menu">
            
        </div>
    </header>
    
    <div class="content">
        <section></section>
    </div>
    
    <footer></footer>
    
</body>
</html>