<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="Url адерс главной">
    <meta property="og:title" content="Купить цветы с доставкой в Москве и по России">
    <meta property="og:image" content="URL адрес картинки сайта">
    <meta property="og:description" name="description" content="Интернет магазина 'Выбери букет' круглосуточно осуществляет доставку цветов по Москве и по России, у нас всегда можно недорого купить свежие цветы и заказать доставку на дом или в офис, время доставки от 1 до 4 часов">
    <meta name="keywords" content="доставка цветов, цветы с доставкой по Москве, купить цветы, заказать доставку цветов, цветы в москве, недорогие цветы Москва">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/gridlex.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/themes/simple.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/mobile.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.arcticmodal-0.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ikSelect.min.js"></script>
    <script src="js/main.js"></script>
    <title>Купить цветы с доставкой в Москве и по России</title>
</head>

<body>

    <header class="header">
        <div class="header__body js-header--">
            <div class="header__wrap js-header-wrap">
                <a class="header__wrap__img" href="/">
                    <img class="header__wrap__img-prev" src="./images/logo.png" alt="">
                </a>
                <a class="mobile-header-logo js-logo--" href="/">
                    <img class="mobile-header-logo__img" src="./images/logo-mobile.png" alt="">
                </a>
                <div class="header__wrap-el group">
                    <div class="header__wrap-group js-header-wrap--">
                        <ul class="top-menu js-top-menu">
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Доставка</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Оплата</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Гарантии</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                        <div class="group-links js-top-links--">
                            <div class="header-line"></div>
                            <span class="group-links__text">Статус заказа</span>
                            <span class="group-links__text">Личный кабинет</span>
                            <i class="group-links__icon" title="Статус заказа"></i>
                            <i class="group-links__icon_2" title="Личный кабинет"></i>
                            <div class="header-line"></div>
                        </div>
                        <div class="group-info">
                            <span class="group-info__text">Город доставки</span>
                            <i class="group-info__icon"></i>
                            <span class="group-info__link js-select-town">Александровск-Сахалинский</span>
                        </div>
                    </div>
                    <div class="header__wrap-group js-header-wrap-group--">
                        <div class="group-info_2">
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/1.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Доставка бесплатно
                            </span>
                            </div>
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/2.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Фото момента вручения
                            </span>
                            </div>
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/3.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Бесплатная открытка
                            </span>
                            </div>
                        </div>
                        <div class="group__blocks js-number-basket--">
                            <div class="group-info_3">
                                <div class="group-info_3__elements">
                                    <div class="group-info_3__elements__text">Ежедневно: c 10<sup class="group-info_3__elements__text-sup">00</sup> до 20<sup class="group-info_3__elements__text-sup">00</sup></div>
                                    <a class="group-info_3__elements-phone" href="tel:88000000000">8-800-000-0000</a>
                                </div>
                            </div>
                            <div class="group-info_4">
                                <div class="group-info_4__elements">
                                    <span class="group-info_4__elements-button js-call-back">Обратная звонок</span>
                                    <i class="group-info_4__elements-icon js-call-back" title="Обратный звонок"></i>
                                </div>
                            </div>
                            <div class="group-info_5">
                                <a class="group-info_5__elements" href="basket.html">
                                    <i class="group-info_5__elements-icons">2</i>
                                    <div class="group-info_5__elements-group">
                                        <span class="group-info_5__elements-text">Корзина</span>
                                        <span class="group-info_5__elements-count">22 500<i class="rub">Р</i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu js-main-menu--">
                <div class="main-menu__body js-main-menu-wrap-- js-open-menu">
                    <ul class="main-menu__wrap">
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Осень</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">День рождения</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Букеты</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Розы</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Премиум</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Композиции</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Подарки</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Свадебные букеты</a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <div class="mobile-menu__group">
                            <ul class="mobile-menu__wrap">
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">О магазине</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Доставка</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Оплата</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Партнерская программа</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Карта городов</a>
                                </li>
                            </ul>
                            <ul class="mobile-menu__wrap">
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Гарантии</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Статьи о цветах</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Вопрос-ответ</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Карта сайта</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search-button-mobile js-toggle-search"><i class="search-button-mobile__icon"></i></div>
                <div class="menu-button-mobile js-toggle-menu"><i class="menu-button-mobile__icon"></i></div>
                <form class="search js-open-search" action="url">
                    <div class="search__group">
                        <input class="search__poly" type="text" placeholder="Поиск">
                        <div class="search__wrap">
                            <input class="search__wrap-button" type="submit" value="">
                        </div>
                    </div>
                </form>
            </nav>
            <hr class="info-block_5__hr js-hr--">
        </div>
        <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumbs__list__link" itemprop="item" href=""> 
                        <span class="breadcrumbs__list__link-text" itemprop="name">Главная</span>
                    </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumbs__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span class="breadcrumbs__list__link-text active" itemprop="name">Личный кабинет пользователя</span>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </header>

    <div class="content">
        <h1 class="content__name">Карта городов</h1>
        <div class="info-block_5">
            <div class="info-block_5__elements">
                <div class="grid-5_md-3_sm-2">
                    <div class="col">
                        <div class="map-list-block js-map-list">
                            <span class="map-list-block__header">A</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Абакан</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Азов</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Алапаевс</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Александров</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Алексеевка</a>
                                </li>
                            </ul>
                            <ul class="map-list-block__wrap hidden">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Абакан</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Азов</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Алапаевс</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Александров</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Алексеевка</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more js-show-all">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">Б</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Баксан</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Балаково</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Балахна</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Балашиха</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Балашов</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">В</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Великие Луки</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Великий Новгород</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Верея</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Верхняя Пышма</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Верхняя Салда</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">Г</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Глазов</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Голицыно</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Горно-Алтайск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Грозный</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Гуково</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">Д</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Дальнегорск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Дедовск</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">Е</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Евпатория</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Егорьевск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Ейск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Екатеринбург</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Елабуга</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">Ж</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Железногорск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Железноводск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Железнодорожный</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Жигулёвск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Жуковский</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">З</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Заволжье</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Заинск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Зарайск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Заречный</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Звенигород</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">И</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Иваново</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Ивантеевка</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Ижевск</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Избербаш</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Ирбит</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="map-list-block">
                            <span class="map-list-block__header">К</span>
                            <ul class="map-list-block__wrap">
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Казань</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Калининград</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Калуга</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Каменск-Уральский</a>
                                </li>
                                <li class="map-list-block__wrap__list">
                                    <a class="map-list-block__wrap__list-link" href="">Каменск-Шахтинский</a>
                                </li>
                            </ul>
                            <div class="map-list-block__line"></div>
                            <span class="map-list-block__more">Показать еще</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="menu-footer">
            <ul class="menu-footer__wrap">
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Осень</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">День рождения</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Букеты</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Розы</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Премиум</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Композиции</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Подарки</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Свадебные букеты</a>
                </li>
            </ul>
        </div>
        <div class="footer__wrap">
            <hr class="info-block_5__hr">
            <div class="footer__wrap__elements js-footer-el--">
                <a class="footer-logo" href="">
                    <img class="footer-logo__prev" src="./images/logo.png" alt="">
                </a>
                <div class="footer-copyright">© 2017. Все права защищены</div>
            </div>
            <div class="footer__wrap__elements js-footer-el_2--">
                <div class="group">
                    <div class="bottom-menu__group">
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">О магазине</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Доставка</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Оплата</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Программа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Гарантии</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="map.html">Карта городов </a>
                            </li>
                        </ul>
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Личный кабинет</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статьи о цветах</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статус заказа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Карта сайта</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements js-footer-el_3--">
                <div class="footer__info js-footer-info--">
                    <div class="footer-address js-footer-address--">
                        <div class="group">
                            <div class="footer-address__group">
                                <i class="footer-icon-tel"></i>
                                <a class="footer-address__phone" href="tel:80000000000">8-000-000-0000</a>
                            </div>
                            <div class="footer-address__group">
                                <i class="footer-icon-time"></i>
                                <div class="">Ежедневно: с 10<sup>00</sup> до 20<sup>00</sup></div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="footer-address__group">
                                <i class="footer-icon-address"></i>
                                <div class="">г. Москва, ул. Московская, д.0.</div>
                            </div>
                            <div class="footer-address__group">
                                <i class="footer-icon-mail"></i>
                                <a class="footer-address__mail" href="mail:namecompany@mail.ru">namecompany@mail.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="socials js-socials--">
                        <a class="socials__link" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements js-footer-el_4--">
                <div class="footer-images js-footer-img--">
                    <img src="./images/visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                    <img src="./images/yandex.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <div class="top js-top"></div>
</body>

</html>