<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="Url адерс главной">
    <meta property="og:title" content="Купить цветы с доставкой в Москве и по России">
    <meta property="og:image" content="URL адрес картинки сайта">
    <meta property="og:description" name="description" content="Интернет магазина 'Выбери букет' круглосуточно осуществляет доставку цветов по Москве и по России, у нас всегда можно недорого купить свежие цветы и заказать доставку на дом или в офис, время доставки от 1 до 4 часов">
    <meta name="keywords" content="доставка цветов, цветы с доставкой по Москве, купить цветы, заказать доставку цветов, цветы в москве, недорогие цветы Москва">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/gridlex.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/themes/simple.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
    <script src="js/mobile.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.arcticmodal-0.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ikSelect.min.js"></script>
    <script src="js/ya-map.js"></script>
    <script src="js/main.js"></script>
    <title>Купить цветы с доставкой в Москве и по России</title>
</head>

<body>

    <header class="header">
        <div class="header__body js-header--">
            <div class="header__wrap js-header-wrap">
                <a class="header__wrap__img" href="/">
                    <img class="header__wrap__img-prev" src="./images/logo.png" alt="">
                </a>
                <a class="mobile-header-logo js-logo--" href="/">
                    <img class="mobile-header-logo__img" src="./images/logo-mobile.png" alt="">
                </a>
                <div class="header__wrap-el group">
                    <div class="header__wrap-group js-header-wrap--">
                        <ul class="top-menu js-top-menu">
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Доставка</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Оплата</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Гарантии</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="top-menu__body">
                                <a class="top-menu__body-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                        <div class="group-links js-top-links--">
                            <div class="header-line"></div>
                            <span class="group-links__text">Статус заказа</span>
                            <span class="group-links__text">Личный кабинет</span>
                            <i class="group-links__icon" title="Статус заказа"></i>
                            <i class="group-links__icon_2" title="Личный кабинет"></i>
                            <div class="header-line"></div>
                        </div>
                        <div class="group-info">
                            <span class="group-info__text">Город доставки</span>
                            <i class="group-info__icon"></i>
                            <span class="group-info__link js-select-town">Александровск-Сахалинский</span>
                        </div>
                    </div>
                    <div class="header__wrap-group js-header-wrap-group--">
                        <div class="group-info_2">
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/1.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Доставка бесплатно
                            </span>
                            </div>
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/2.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Фото момента вручения
                            </span>
                            </div>
                            <div class="group-info_2__elements">
                                <div class="group-info_2__elements__img">
                                    <img class="group-info_2__elements__img-prev" src="./images/infoblock-img/3.png" alt="">
                                </div>
                                <span class="group-info_2__elements__text">
                                Бесплатная открытка
                            </span>
                            </div>
                        </div>
                        <div class="group__blocks js-number-basket--">
                            <div class="group-info_3">
                                <div class="group-info_3__elements">
                                    <div class="group-info_3__elements__text">Ежедневно: c 10<sup class="group-info_3__elements__text-sup">00</sup> до 20<sup class="group-info_3__elements__text-sup">00</sup></div>
                                    <a class="group-info_3__elements-phone" href="tel:88000000000">8-800-000-0000</a>
                                </div>
                            </div>
                            <div class="group-info_4">
                                <div class="group-info_4__elements">
                                    <span class="group-info_4__elements-button js-call-back">Обратная звонок</span>
                                    <i class="group-info_4__elements-icon js-call-back" title="Обратный звонок"></i>
                                </div>
                            </div>
                            <div class="group-info_5">
                                <a class="group-info_5__elements" href="basket.html">
                                    <i class="group-info_5__elements-icons">2</i>
                                    <div class="group-info_5__elements-group">
                                        <span class="group-info_5__elements-text">Корзина</span>
                                        <span class="group-info_5__elements-count">22 500<i class="rub">Р</i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu js-main-menu--">
                <div class="main-menu__body js-main-menu-wrap-- js-open-menu">
                    <ul class="main-menu__wrap">
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Осень</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">День рождения</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Букеты</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Розы</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Премиум</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Композиции</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Подарки</a>
                        </li>
                        <li class="main-menu__wrap__list">
                            <i class="main-menu__wrap__list-dot"></i>
                        </li>
                        <li class="main-menu__wrap__list">
                            <a class="main-menu__wrap__list-link" href="">Свадебные букеты</a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <div class="mobile-menu__group">
                            <ul class="mobile-menu__wrap">
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">О магазине</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Доставка</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Оплата</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Партнерская программа</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Карта городов</a>
                                </li>
                            </ul>
                            <ul class="mobile-menu__wrap">
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Гарантии</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Статьи о цветах</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Вопрос-ответ</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Карта сайта</a>
                                </li>
                                <li class="mobile-menu__wrap__list">
                                    <a class="mobile-menu__wrap__list-link" href="">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search-button-mobile js-toggle-search"><i class="search-button-mobile__icon"></i></div>
                <div class="menu-button-mobile js-toggle-menu"><i class="menu-button-mobile__icon"></i></div>
                <form class="search js-open-search" action="url">
                    <div class="search__group">
                        <input class="search__poly" type="text" placeholder="Поиск">
                        <div class="search__wrap">
                            <input class="search__wrap-button" type="submit" value="">
                        </div>
                    </div>
                </form>
            </nav>
            <hr class="info-block_5__hr js-hr--">
        </div>
        <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumbs__list__link" itemprop="item" href=""> 
                        <span class="breadcrumbs__list__link-text" itemprop="name">Главная</span>
                    </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumbs__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumbs__list__link" itemprop="item" href=""> 
                        <span class="breadcrumbs__list__link-text" itemprop="name">Каталог товаров</span>
                    </a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="breadcrumbs__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span class="breadcrumbs__list__link-text active" itemprop="name">Необыкновенные бабочки экстра</span>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </header>

    <div class="content" itemscope itemtype="http://schema.org/Product">
        <h1 class="content__name">Эксперт спрогнозировал 2−3 кратное подорожание цветов в РФ</h1>
        <div class="content__wrapper">
            <div class="content__wrapper__info m-30 p-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, rem, laboriosam! Fugiat fuga reiciendis et tenetur provident soluta, accusantium, expedita a repellendus veritatis qui rem odit adipisci eaque. Veniam veritatis provident suscipit similique, error quae ducimus placeat sequi accusantium atque consequuntur. Natus sit tenetur a dicta unde. Ipsa, quis illo non ut, molestias dolorum placeat laudantium qui repellat sequi eveniet error eos unde cum possimus ex, voluptates autem delectus rerum? Delectus tenetur rem atque porro quaerat, ullam fugiat maiores consequuntur voluptatum accusantium aut, omnis, unde repudiandae aperiam autem beatae? Pariatur, fugit nesciunt quas illo earum laborum magni ea accusantium eveniet.</p>
                <img src="./images/infoblock-img/image.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, rem, laboriosam! Fugiat fuga reiciendis et tenetur provident soluta, accusantium, expedita a repellendus veritatis qui rem odit adipisci eaque. Veniam veritatis provident suscipit similique, error quae ducimus placeat sequi accusantium atque consequuntur. Natus sit tenetur a dicta unde. Ipsa, quis illo non ut, molestias dolorum placeat laudantium qui repellat sequi eveniet error eos unde cum possimus ex, voluptates autem delectus rerum? Delectus tenetur rem atque porro quaerat, ullam fugiat maiores consequuntur voluptatum accusantium aut, omnis, unde repudiandae aperiam autem beatae? Pariatur, fugit nesciunt quas illo earum laborum magni ea accusantium eveniet.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, rem, laboriosam! Fugiat fuga reiciendis et tenetur provident soluta, accusantium, expedita a repellendus veritatis qui rem odit adipisci eaque. Veniam veritatis provident suscipit similique, error quae ducimus placeat sequi accusantium atque consequuntur. Natus sit tenetur a dicta unde. Ipsa, quis illo non ut, molestias dolorum placeat laudantium qui repellat sequi eveniet error eos unde cum possimus ex, voluptates autem delectus rerum? Delectus tenetur rem atque porro quaerat, ullam fugiat maiores consequuntur voluptatum accusantium aut, omnis, unde repudiandae aperiam autem beatae? Pariatur, fugit nesciunt quas illo earum laborum magni ea accusantium eveniet.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, rem, laboriosam! Fugiat fuga reiciendis et tenetur provident soluta, accusantium, expedita a repellendus veritatis qui rem odit adipisci eaque. Veniam veritatis provident suscipit similique, error quae ducimus placeat sequi accusantium atque consequuntur. Natus sit tenetur a dicta unde. Ipsa, quis illo non ut, molestias dolorum placeat laudantium qui repellat sequi eveniet error eos unde cum possimus ex, voluptates autem delectus rerum? Delectus tenetur rem atque porro quaerat, ullam fugiat maiores consequuntur voluptatum accusantium aut, omnis, unde repudiandae aperiam autem beatae? Pariatur, fugit nesciunt quas illo earum laborum magni ea accusantium eveniet.</p>
                <img src="./images/infoblock-img/image.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, rem, laboriosam! Fugiat fuga reiciendis et tenetur provident soluta, accusantium, expedita a repellendus veritatis qui rem odit adipisci eaque. Veniam veritatis provident suscipit similique, error quae ducimus placeat sequi accusantium atque consequuntur. Natus sit tenetur a dicta unde. Ipsa, quis illo non ut, molestias dolorum placeat laudantium qui repellat sequi eveniet error eos unde cum possimus ex, voluptates autem delectus rerum? Delectus tenetur rem atque porro quaerat, ullam fugiat maiores consequuntur voluptatum accusantium aut, omnis, unde repudiandae aperiam autem beatae? Pariatur, fugit nesciunt quas illo earum laborum magni ea accusantium eveniet.</p>
            </div>
            <div class="content-footer">
                <div class="content-footer__group">
                    <span class="content-footer__group-text">Поделиться:</span>
                    <div class="socials">
                        <a class="socials__link" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="info-block">
                <span class="info-block__name">Товары по теме статьи</span>
                <div class="info-block__slider">
                    <div class="swiper-container swiper-container_4">
                        <div class="swiper-wrapper swiper-no-swiping">
                            <div class="swiper-slide">
                                <div class="block-product">
                                    <a class="block-product__img" href="">
                                        <div class="block-product__img__sticker">
                                            <span class="block-product__img__sticker-new">новинка</span>
                                        </div>
                                        <div class="block-product__img__info">
                                            <span class="block-product__img__info-text">60x30</span>
                                            <span class="block-product__img__info-text">см</span>
                                        </div>
                                        <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                                    </a>
                                    <div class="block-product__info">
                                        <span class="block-product__info-name">Букет</span>
                                        <div class="block-product__info__price">
                                            <span class="block-product__info__price-current">1500<i class="rub">Р</i></span>
                                        </div>
                                        <div class="block-product__info__button">
                                            <span class="block-product__info__button-order">Заказать</span>
                                            <span class="block-product__info__button-buy_one_click js-buy-one-click">Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="block-product">
                                    <a class="block-product__img" href="">
                                        <div class="block-product__img__sticker">
                                            <span class="block-product__img__sticker-new">новинка</span>
                                        </div>
                                        <div class="block-product__img__info">
                                            <span class="block-product__img__info-text">60x30</span>
                                            <span class="block-product__img__info-text">см</span>
                                        </div>
                                        <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                                    </a>
                                    <div class="block-product__info">
                                        <span class="block-product__info-name">Букет</span>
                                        <div class="block-product__info__price">
                                            <span class="block-product__info__price-current">1500<i class="rub">Р</i></span>
                                        </div>
                                        <div class="block-product__info__button">
                                            <span class="block-product__info__button-order">Заказать</span>
                                            <span class="block-product__info__button-buy_one_click js-buy-one-click">Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="block-product">
                                    <a class="block-product__img" href="">
                                        <div class="block-product__img__sticker">
                                            <span class="block-product__img__sticker-new">новинка</span>
                                        </div>
                                        <div class="block-product__img__info">
                                            <span class="block-product__img__info-text">60x30</span>
                                            <span class="block-product__img__info-text">см</span>
                                        </div>
                                        <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                                    </a>
                                    <div class="block-product__info">
                                        <span class="block-product__info-name">Букет</span>
                                        <div class="block-product__info__price">
                                            <span class="block-product__info__price-current">1500<i class="rub">Р</i></span>
                                        </div>
                                        <div class="block-product__info__button">
                                            <span class="block-product__info__button-order">Заказать</span>
                                            <span class="block-product__info__button-buy_one_click js-buy-one-click">Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="block-product">
                                    <a class="block-product__img" href="">
                                        <div class="block-product__img__sticker">
                                            <span class="block-product__img__sticker-new">новинка</span>
                                        </div>
                                        <div class="block-product__img__info">
                                            <span class="block-product__img__info-text">60x30</span>
                                            <span class="block-product__img__info-text">см</span>
                                        </div>
                                        <img class="block-product__img-prev" src="./images/infoblock-img/byket.jpg" alt="">
                                    </a>
                                    <div class="block-product__info">
                                        <span class="block-product__info-name">Букет</span>
                                        <div class="block-product__info__price">
                                            <span class="block-product__info__price-current">1500<i class="rub">Р</i></span>
                                        </div>
                                        <div class="block-product__info__button">
                                            <span class="block-product__info__button-order">Заказать</span>
                                            <span class="block-product__info__button-buy_one_click js-buy-one-click">Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-mobile-button">
                        <div class="swiper-button-prev product-slider__prev slider4-prev"></div>
                        <div class="swiper-button-next product-slider__next slider4-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="menu-footer">
            <ul class="menu-footer__wrap">
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Осень</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">День рождения</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Букеты</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Розы</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Премиум</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Композиции</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Подарки</a>
                </li>
                <li class="menu-footer__wrap__list">
                    <a class="menu-footer__wrap__list-link" href="">Свадебные букеты</a>
                </li>
            </ul>
        </div>
        <div class="footer__wrap">
            <hr class="info-block_5__hr">
            <div class="footer__wrap__elements js-footer-el--">
                <a class="footer-logo" href="">
                    <img class="footer-logo__prev" src="./images/logo.png" alt="">
                </a>
                <div class="footer-copyright">© 2017. Все права защищены</div>
            </div>
            <div class="footer__wrap__elements js-footer-el_2--">
                <div class="group">
                    <div class="bottom-menu__group">
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">О магазине</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Доставка</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Оплата</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Программа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Гарантии</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="map.html">Карта городов </a>
                            </li>
                        </ul>
                        <ul class="bottom-menu">
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Личный кабинет</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статьи о цветах</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Статус заказа</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Вопрос-ответ</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="">Карта сайта</a>
                            </li>
                            <li class="bottom-menu__list">
                                <a class="bottom-menu__list-link" href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements js-footer-el_3--">
                <div class="footer__info js-footer-info--">
                    <div class="footer-address js-footer-address--">
                        <div class="group"><a class="footer-address__phone" href="tel:80000000000">8-000-000-0000</a><span class="br-mobile"><br></span> Ежедневно: с 10<sup>00</sup> до 20<sup>00</sup></div>
                        <div class="group">г. Москва, ул. Московская, д.0.<br>
                            <a class="footer-address__mail" href="mail:namecompany@mail.ru">namecompany@mail.ru</a></div>
                    </div>
                    <div class="socials js-socials--">
                        <a class="socials__link" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                        <a class="socials__link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__elements js-footer-el_4--">
                <div class="footer-images js-footer-img--">
                    <img src="./images/visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                    <img src="./images/yandex.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <div class="top js-top"></div>
</body>

</html>