.footer{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    &__wrap{
        margin: 40px 0;
        display: flex;
        &__elememts{
            display: flex;
            flex-direction: column;
        }
    }
    &__info{
        margin-left: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}