.footer-icon-tel{
    margin-right: 10px;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -111px -97px;
}
.footer-icon-time{
    margin-right: 10px;
    display: block;
    width: 17px;
    height: 16px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -129px -97px;
}
.footer-icon-address{
    margin-right: 10px;
    display: block;
    min-width: 17px;
    max-width: 17px;
    height: 16px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -147px -97px;
}
.footer-icon-mail{
    margin-right: 10px;
    display: block;
    width: 18px;
    height: 12px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -111px -115px;
}