.basket-form{
    &__elements{
        display: flex;
        align-items: center;
        padding: 25px 0px;
        border-bottom: 1px solid #d4dede;
        &:last-child{
            border-bottom: 0px;
        }
        &__adaptive{
            width: 100%;
            display: flex;
            align-items: center;
            .basket-form__elements-group{
                width: 100%;
                &:nth-child(1){
                    max-width: 520px;
                    width: 100%;
                    padding-left: 30px;
                    box-sizing: border-box;
                }
                &:nth-child(2){
                    width: 115px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                }
                &:nth-child(3){
                    max-width: 259px;
                    width: 60%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                &:nth-child(4){
                    max-width: 173px;
                    width: 100%;
                }
            }
        }
        &-group{
            &:nth-child(1){
                max-width: 115px;
                width: 100%;
            }
            
        }
        &-name{
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
            color: #000;
            &:hover{
                border-bottom: 1px dashed #000;
            }
        }
        &-form{
            background: #f5f5f5;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 7px;
            min-width: 101px;
            max-width: 101px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-img{
            width: 100%;
            cursor: pointer;
        }
        &-current{
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 26px;
            color: #2fa6a3;
        }
        &-current_2{
            position: relative;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 22px;
            color: #b3bebe;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                top: 15px;
                transform: rotate(-4deg);
                height: 1px;
                background: #b3bebe;
            }
        }
        &-current_group{
            display: flex;
            align-items: center;
        }
        &-current_sale{
            margin-left: 10px;
        }
        &-button{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #696969;
            background: #fff;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
            border-radius: 3px;
            width: 23px;
            height: 25px;
            border: 1px solid #e8e8e8;
            box-sizing: border-box;
            transition: all 0.1s;
            &:hover{
               background: #efefef;
            }
        }
        &-count{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #2b2b2b;
        }
        &-delete{
            float: right;
            cursor: pointer;
            width: 173px;
            height: 39px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #000;
            border: 1px solid #5b5a8b;
            border-radius: 4px;
            background: #fff;
            box-sizing: border-box;
            transition: all 0.3s;
            &:hover{
                background: #d3d2eb;
            }
        }
        &__header{
            &-text{
                margin-top: 5px;
                display: block;
                font-size: 14px;
                color: #b3bebe;
            }
        }
    }
}
.basket-form_2{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding: 27px 0px;
    &__elements{
        display: flex;
        &:nth-child(1){
            border-bottom: 1px solid #d4dede;
            padding-bottom: 25px;
        }
        &:nth-child(2){
            padding-top: 25px;
            display: flex;
            align-items: center;
        }
         &-group{
            &:nth-child(1){
                max-width: 635px;
                width: 85%;
                margin-right: 30px;
            }
            &:nth-child(2){
                width: 300px;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &:nth-child(3){
                max-width: 259px;
                width: 46%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            &:nth-child(4){
                max-width: 173px; 
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
        &-header{
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #5b5a8b;
        }
        &-text{
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #9494a3;
        }
        &-text_2{
            padding: 3px 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
        &-text_3{
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: #000;
            letter-spacing: 2px;
        }
        &-price{
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 26px;
            color: #000;
            color: #2fa6a3;
        }
        &-button{
            width: 174px;
            height: 39px;
            border-radius: 4px;
            background: #55c3c0;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: #4ab1ae;
            }
        }
    }
}
.basket-form-show{
    display: none!important;
}
.sale-form{
    display: flex;
    &__poly{
        outline: none;
        flex-grow: 1;
        height: 39px;
        box-sizing: border-box;
        border: 1px solid #5b5a8b;
        padding: 0px 20px;
        border-radius: 4px 0px 0px 4px;
        font-size: 14px;
        color: #000;
    }
    &__button{
        width: 165px;
        height: 39px;
        background: #5b5a8b;
        border-radius: 0px 4px 4px 0px;
        box-sizing: border-box;
        color: #fff;
        outline: none;
        cursor: pointer;
        border: none;
        transition: all 0.3s;
        &:hover{
            background: #5f5ead;
        }
    }
}
.mobile-block-del{
    display: none;
}
.sale-form__poly::-webkit-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color:#000;
}
.sale-form__poly:-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color:#000;
}
.sale-form__poly::-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color:#000;
}
.sale-form__poly:-ms-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color:#000;
}