.content{
    flex-grow: 1;
    margin: 0 auto;
    width: 1170px;
    &__name{
        margin: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 36px;
        color: #000;
    }
    &__name_card{
        margin-top: 0;
        margin-bottom: 30px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 36px;
        color: #000;
    }
    &__group-block{
        display: flex;
    }
    &__left-block{
        width: 100%;
    }
    &__right-block{
        max-width: 479px;
        min-width: 479px;
        width: 100%;
    }
}
.info-block{
    overflow: hidden;
    &:first-child{
        .info-block__name{
            margin-top: 0px;
        }
    }
    h2{
        margin-top: 35px;
        margin-bottom: 18px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 28px;
        color: #000;
    }
    &__name{
        display: block;
        margin-top: 35px;
        margin-bottom: 18px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 28px;
        color: #000;
    }
    &__slider{
        position: relative;
    }
}
.info-block_2{
    padding: 60px 0px;
    h2{
        margin-bottom: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 28px;
        color: #000;
    }
    &__text{
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 16px;
        line-height: 22px;
        color: #000;
    }
    &__img{
        float: right;
        max-width: 450px;
        margin-left: 50px;
        position: relative;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            right: -57px;
            top: 84px;
            background: url(../../images/bg-img.png) no-repeat;
            z-index: -1;
        }
    }
    &__group{
        display: flex;
    }
}
.info-block_3{
    position: relative;
    margin-top: 72px;
    margin-bottom: 35px;
    width: 100%;
    height: 150px;
    border: 1px solid #a9a8ba;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__content{
        position: relative;
        margin-right: 62px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        z-index: 2;
        &-group{
            max-width: 544px;
            width: 100%;
            display: flex;
            align-items: flex-end;
        }
        &__name{
            margin: 0;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 34px;
            color: #5b5a8b;
        }
        &__text{
            padding: 0;
            margin: 0;
            width: 320px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        &__button{
            margin-left: 38px;
            width: 186px;
            height: 39px;
            border: 1px solid #a9a8ba;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background: #d9dfec;
            align-items: center;
            text-align: center;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #000;
            transition: all 0.3s;
            &:hover{
                background: #fff;
            }
        }
    }
}
.info-block_4{
    width: 416px;
    position: relative;
    margin-left: 63px;
    &__name{
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 36px;
        color: #000;
    }
}
.info-block_5{
    &__elements{
        &:first-child{
            margin-top: 33px;
        }
        &:last-child{
            margin-bottom: 60px;
            .info-block_5__hr{
                display: none;
            }
        }
    }
}
.info-block_6{
    margin-top: 26px;
    width: 100%;
    &-group{
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #d4dede;
    }
    &-group_elements{
        margin: 25px 0; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__text{
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }
    &__price{
        margin-left: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 26px;
        color: #2fa6a3;
    }
    &__elements{
        margin-left: 30px;
        max-width: 340px;
        min-width: 340px;
        width: 100%;
        display: flex;
        align-items: center;
        &:first-child{
            margin-left: 0;
        }
        &__img{
            max-width: 140px;
            min-width: 140px;
            width: 100%;
            height: 140px;
            cursor: pointer;
            overflow: hidden;
            &-prev{
                width: 100%;
            }
        }
        &-group{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
        }
        &-name{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
        &-price{
            margin-top: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 26px;
            color: #2fa6a3;
        }
    }
}
hr.info-block_5__hr{
    display: none;
    margin: 40px 0px;
    width: 100%;
    height: 6px;
    border: none;
    background: url(../../images/border-bottom-img.png) repeat-x;
}
.reviews-block{
    &__elements{
        height: 100%;
        display: flex;
        margin-bottom: 40px;
        &:first-child{
            margin-top: 40px;
        }
    }
}