.element-block{
    max-width: 220px;
    width: 100%;
    margin-right: 40px;
    height: 290px;
    border: 1px solid #d4dede;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    &__img{
        position: relative;
        padding: 20px;
        width: 100%;
        height: 174px;
        border-bottom: 1px solid #d4dede;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &-prev{
            width: 140px;
        }
        &__info{
            position: absolute;
            top: 16px;
            left: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99;
            &:before{
                content: '';
                position: absolute;
                width: 5px;
                height: 24px;
                right: -10px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: 0 -68px;
            }
            &:after{
                content: '';
                position: absolute;
                width: 24px;
                height: 5px;
                top: 24px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: -5px -68px;
            }
            &-text{
                position: relative;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 10px;
                color: #a3b0b0;
            }
        }
    }
    &__info{
        width: 100%;
        &-name{
            margin-top: 8px;
            width: 100%;
            display: block;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 16px;
            color: #000;
        }
        &__price{
            margin-top: 5px;
            display: flex;
            justify-content: center;
            &-current{
                display: block;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 26px;
                color: #2fa6a3;
            }
            &-old{
                position: relative;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 22px;
                color: #b3bebe;
                margin-right: 10px;
                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 15px;
                    transform: rotate(-4deg);
                    height: 1px;
                    background: #b3bebe;
                }
            }
        }
        &__button{
            display: flex;
            justify-content: space-between;
            padding: 4px 10px;
            &-order{
                width: 74px;
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 14px;
                color: #fff;
                border-radius: 4px;
                background: #5b5a8b;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background: #5f5ead;
                }
            }
            &-buy_one_click{
                width: 117px;
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 14px;
                color: #000;
                border-radius: 4px;
                background: #fff;
                border: 1px solid #5b5a8b;
                box-sizing: border-box;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background: #d3d2eb;
                }
            }
        }
    }
}
.element-block_2{
    position: relative;
    width: 100%;
    min-height: 380px;
    padding: 35px;
    border: 1px solid #d4dede;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    &__el{
        margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__header{
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #96a3a3;
    }
    &__text{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        line-height: 22px;
        font-size: 14px;
        color: #000;
    }
    &__group{
        display: flex;
        align-items: center;
        &-elements{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
        }
        &-name{
            margin-right: 22px;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: #000;
        }
        &-date{
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 13px;
            color: #96a3a3;
        }
    }
}
.section_main{
    width: 357px;
    border: 1px solid #dddde2;
    border-radius: 4px;
    overflow: hidden;
    &__header{
        background: #fafafa;
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: lighter;
        text-align: center;
        color: #5b5a8b;
    }
    &__wrapper{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        max-width: 357px;
        width: 100%;
        &__list{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 47px;
            padding-left: 30px;
            border-top: 1px solid #ebebee;
            font-size: 14px;
            box-sizing: border-box;
            color: #5b5a8b;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: #fafafa;
            }
            &:after{
                content: '';
                position: absolute;
                top: 20px;
                right: 20px;
                width: 8px;
                height: 11px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: -19px -106px;
            }
            &.active{
                background: #fafafa;
                color: #000;
                &:after{
                    content: '';
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    width: 11px;
                    height: 8px;
                    background: url(../../images/sprite.png) no-repeat;
                    background-position: -17px -117px;
                }
            }
            &-header{
                height: 46px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #5b5a8b;
            }
            &__hidden{
                display: none;
                margin: 0px 10px 10px 0px;
                padding-left: 20px;
                &__list{
                    position: relative;
                    list-style: none;
                    color: #000;
                    &:before{
                        content: '•';
                        position: absolute;
                        left: -16px;
                        top: 8px;
                        font-size: 18px;
                    }
                    &-link{
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;
                        color: #000;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}