.filter {
    margin: 0;
    margin-top: 51px;
    h1{
        margin-top: 0;
    }
    &__wrap {
        height: 58px;
        border: 1px solid #a9a8ba;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        margin: 34px 0px 40px;
        display: flex;
        &__list {
            position: relative;
            list-style: none;
            width: 234px;
            height: 58px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //padding-left: 20px;
            padding-left: 15px;
            border-right: 1px solid #a9a8ba;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 4px 17.82px 4.18px rgba(0, 0, 0, 0.15);
            }
            &:last-child {
                border-right: none;
                .filter-menu{
                    left: auto;
                    right: -2px;
                }
            }
            &.active {
                box-shadow: 0px 4px 17.82px 4.18px rgba(0, 0, 0, 0.15);
            }
            &-name {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 13px;
                color: #5b5a8b;
                height: 58px;
                display: flex;
                align-items: center;
                user-select: none;
                &:before {
                    content: '';
                    width: 11px;
                    height: 6px;
                    position: absolute;
                    background: url(../../images/sprite.png) no-repeat;
                    background-position: -11px -57px;
                    right: 20px;
                    top: 28px;
                }
                &.filter-select {
                    padding-top: 16px;
                    align-items: flex-start;
                }
            }
            &-choice {
                display: block;
                width: 75%;
                padding-right: 40px;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 13px;
                color: #000;
                position: absolute;
                top: 33px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
.filter_2 {
    &__wrap {
        width: 416px;
        //height: 79px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0px 0px 25px 0px;
        box-sizing: border-box;
        &-count {
            border: 1px solid #a9a8ba;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            width: 70px;
            height: 39px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 13px;
            color: #5b5a8b;
            cursor: pointer;
            margin-left: -1px;
            margin-top: -1px;
            &:hover {
                box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.15);
            }
        }
        &-count_2 {
            border: 1px solid #a9a8ba;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            width: 70px;
            height: 39px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 13px;
            color: #5b5a8b;
            cursor: pointer;
            margin-left: -1px;
            margin-top: -1px;
            &:hover {
                box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.15);
            }
            &-text{
                padding: 0px 5px;
                flex-grow: 1;
            }
        }
        .active {
            box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.15);
        }
    }
}
.filter_3 {
    margin-top: 28px;
    &__group {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__elements {
            display: flex;
            //width: 100%;
            &:last-child{
                margin-left: 10px;
            }
        }
    }
    &__button {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        &__order {
            margin-right: 8px;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: #fff;
            border-radius: 4px;
            background: #5b5a8b;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background: #5f5ead;
            }
        }
        &__buy_one_click {
            margin-left: 8px;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: #000;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #5b5a8b;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background: #d3d2eb;
            }
        }
    }
}
.filter-menu {
    position: absolute;
    top: 57px;
    left: -1px;
    display: none;
    border: 1px solid #a9a8ba;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 10px 17.82px 4.18px rgba(0, 0, 0, 0.17);
    padding: 20px 56px;
    box-sizing: border-box;
    &__group {
        display: flex;
        min-width: 100px;
    }
    &__wrap {
        padding: 0;
        margin: 0;
        margin-left: 55px;
        &:first-child {
            margin-left: 0;
        }
        &__list {
            position: relative;
            list-style: none;
            &:before {
                content: '.';
                position: absolute;
                color: #5b5a8b;
                left: 0;
                font-size: 20px;
            }
            &:last-child {
                .filter-menu__wrap__list-text {
                    border-bottom: none;
                }
            }
            &-text {
                padding-left: 10px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 13px;
                height: 35px;
                display: flex;
                align-items: center;
                color: #5b5a8b;
                border-bottom: 1px solid #e1e1e7;
                white-space: nowrap;
                user-select: none;
                &:hover {
                    color: #000;
                }
            }
        }
    }
}
.border_rad-top-left{
    border-radius: 5px 0px 0px 0px;
}
.border_rad-top-right{
    border-radius: 0px 5px 0px 0px;
}
.border_rad-bottom-right{
    border-radius: 0px 0px 5px 0px;
}
.border_rad-bottom-left{
    border-radius: 0px 0px 0px 5px;
}