.icon_tel{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: 0px -129px;
}
.icon_basket{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -132px -129px;
}
.icon_mail{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -99px -129px;
}
.icon_address{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -66px -129px;
}
.icon_clock{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -33px -129px;
}
.plus{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -122px -59px;
}