.show-more{
    margin-top: 9px;
    display: flex;
    align-items: center;
    &__line{
        width: 100%;
        height: 1px;
        background: #d4dede;
    }
    &__button{
        margin: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        min-width: 160px;
        height: 39px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #55c3c0;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background: #ccebea;
        }
    }
}
.show-more_2{
    margin-top: 9px;
    display: flex;
    align-items: center;
    &__line{
        width: 100%;
        height: 1px;
        background: #d4dede;
    }
    &__button{
        margin: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        min-width: 160px;
        height: 39px;
        border-radius: 4px;
        border: 1px solid #55c3c0;
        background: #55c3c0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background: #2bb4b0;
        }
    }
}
.order-info{
    height: 85px;
    display: flex;
    &__price{
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 36px;
        color: #2fa6a3;
    }
    &__price_old{
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 22px;
        color: #b3bebe;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            top: 15px;
            transform: rotate(-4deg);
            height: 1px;
            background: #b3bebe;
        }
    }
    .group{
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__text{
        margin: 12px 0px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #000;
        border-bottom: 1px dashed #000;
        cursor: pointer;
        user-select: none;
        &:before{
            content: '';
            position: absolute;
            width: 19px;
            height: 18px;
            right: 20px;
            background: url(../../images/sprite.png) no-repeat;
            background-position: -38px -11px;
        }
    }
    &__group{
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid #d4dede;
        &:last-child{
            padding-left: 35px;
            box-sizing: border-box;
            border-right: none;
            align-items: flex-start;
        }
        &__window{
            display: none;
            position: absolute;
            padding: 30px;
            width: auto;
            right: 0px;
            bottom: 30px;
            height: auto;
            box-sizing: border-box;
            box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.15);
            border: 1px solid #a9a8ba;
            background: #fff;
            border-radius: 4px;
            z-index: 100;
            &:before{
                position: absolute;
                content: '';
                width: 13px;
                height: 10px;
                bottom: -8px;
                right: 20px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: -81px -25px;
                z-index: 101;
            }
            &-close{
                display: none;
                position: absolute;
                width: 30px;
                height: 30px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: -124px -24px;
                top: -15px;
                right: 20px;
            }
            &__elements{
                display: flex;
                align-items: center;
            }
            &-text{
                display: block;
                line-height: 24px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 13px;
                color: #5b5a8b;
                &:last-child{
                    margin-left: 4px;
                }
                &:first-child{
                    margin-left: 0;
                }
            }
            &-text_2{
                display: block;
                line-height: 24px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 13px;
                color: #708484;
                &:last-child{
                    margin-left: 4px;
                }
            }
            &-line{
                border: 0;
                border-bottom: 1px solid #d4dede;
            }
            &__wrap{
                display: flex;
                &-header{
                    display: block;
                    height: 25px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    font-size: 13px;
                    color: #5b5a8b;
                }
                &__ul{
                    display: block;
                    padding: 0;
                    margin: 0;
                    margin-top: 20px;
                    &-list{
                        list-style: none;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 500;
                        font-size: 13px;
                        color: #708484;
                        line-height: 29px;
                    }
                }
                .group{
                    min-width: 180px;
                    margin-right: 65px!important;
                    margin-bottom: 0!important;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .group-info{
                min-width: 300px;
                width: max-content;
                display: flex;
                &__text{
                    font-family: 'Open Sans', sans-serif;
                    width: auto;
                    margin: 0;
                    white-space: nowrap;
                    font-size: 13px;
                    display: inline-block;
                }
                &__icon{
                    display: inline-block;
                }
                &__link{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                    display: inline-block;
                    width: auto;
                    white-space: nowrap;
                    border-bottom: 0;
                }
            }
        }
    }
}
.mobile-block{
    display: none;
}
.mobile-swiper-button{
    display: none;
}
.time-block{
    margin-top: 22px;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    background: #55c3c0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__name{
        margin-bottom: 11px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #fff;
    }
    &__group{
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__elements{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-count{
                display: flex;
            }
            &-text{
                display: block;
                margin-top: 8px;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #fff;
            }
            &-block{
                margin-right: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 30px;
                height: 35px;
                background: #fff;
                border-radius: 4px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 20px;
                color: #000;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}
.time-block_mini{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background: #55c3c0;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__name{
        margin-bottom: 7px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }
    &__group{
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__elements{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-count{
                display: flex;
            }
            &-text{
                display: block;
                margin-top: 5px;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: #fff;
            }
            &-block{
                margin-right: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 21px;
                height: 19px;
                background: #fff;
                border-radius: 4px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: #000;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}
.map-list-block{
    &__header{
        display: block;
        margin-bottom: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 36px;
        color: #4ab1ae;
    }
    &__wrap{
        padding: 0;
        margin: 0;
        min-height: 140px;
        &__list{
            list-style: none;
            padding: 7px 0px;
            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                padding-bottom: 0;
            }
            &-link{
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #000;
                &:hover{
                    color: #4ab1ae;
                }
            }
        }
    }
    &__line{
        margin: 20px 0px;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #d4dede;
    }
    &__more{
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #000;
        border-bottom: 1px dashed #000;
        cursor: pointer;
        &:hover{
            border-bottom: 0;
        }
        &:before{
            content: '';
            width: 11px;
            height: 6px;
            top: 8px;
            right: -21px;
            position: absolute;
            background: url(../../images/sprite.png) no-repeat;
            background-position: -11px -57px;
        }
    }
}
.images{
    &__prev{
        width: 100%;
    }
    .mobile-swiper-button{
        display: block;
        margin: 0px 10px;
    }
}
.p-t-0{
    padding-top: 0;
}
.mini-form{
    width: 100%;
    height: 74px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #a9a8ba;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &__elements{
        display: flex;
        align-items: center;
        padding: 0px 42px;
        height: 35px;
        border-style: solid;
        border-width: 0px 3px 0px 0px;
        -webkit-border-image: url(../../images/border-img.png) 0 35 0 0 repeat;
        -o-border-image: url(../../images/border-img.png) 0 35 0 0 repeat;
        border-image: url(../../images/border-img.png) 0 35 0 0 fill repeat;
        &:last-child{
            border-width: 0px;
        }
        &-text{
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            text-decoration: none;
            color: #000;
            border-bottom: 1px dashed #000;
            &:hover{
                border-bottom: none;
            }
        }
        &-text_icon{
            margin-right: 10px;
            width: 32px;
            height: 23px;
            background: url(../../images/sprite.png) no-repeat;
            background-position: -103px 0px;
        }
    }
}
.big-form{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #a9a8ba;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &__send{
        &-button{
            width: 300px;    
            height: 45px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: #5b5a8b;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 16px;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: #5f5ead;
            }
        }
        &-text{
            display: block;
            text-align: center;
            margin-top: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 11px;
            color: #9494a3;
        }
    }
    &__group{
        display: flex;
    }
    &__elements{
        padding: 20px 105px 20px;
        border-bottom: 1px solid #d4dede;
        &:last-child{
            border-bottom: 0;
        }
        &:nth-child(3){
            .big-form__group{
                .big-form__elements-group{
                    &:last-child{
                        margin-right: 0;
                    }
                    .checkbox-form{
                        align-items: flex-end;
                    }
                }
            }
        }
        &:nth-child(4){
            padding: 24px 105px 24px;
            .big-form__elements-group{
                flex-direction: column;
                justify-content: space-between;
                &:nth-child(2){
                    padding: 0;
                    padding-top: 16px;
                }
                .block-add-comment__wrap-elements{
                    margin-right: 30px;
                    width: 633px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        &-name{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: #000;
        }
        &-group{
            display: flex;
            padding: 16px 0px 20px;
            .block-add-comment__wrap-elements{
                width: 300px;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .checkbox-form{
            .checkbox-label{
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #000;
            }
        }
        &-back_button{
            margin-top: 20px;
            width: 260px;
            height: 45px;
            border: 1px solid #5b5a8b;
            border-radius: 4px;
            background: #fff;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #000;
            transition: all 0.3s;
            &:hover{
                background: #d3d2eb;
            }
        }
    }
}
.date-poly{
    position: relative;
    display: flex;
    align-items: center;
    &__wrap{
        width: 186px;
        height: 45px;
        border: 1px solid #d4dede;
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 50px;
        box-sizing: border-box;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #000000;
    }
    .ui-datepicker-trigger{
        position: absolute;
        right: 16px;
        cursor: pointer;
    }
    .ui-datepicker-calendar{
        border: 1px solid #a9a8ba;
        border-radius: 4px;
    }
}
.back{
    margin-right: 10px;
    width: 21px;
    height: 11px;
    background: url(../../images/sprite.png) no-repeat;
    background-position: -60px -24px;
}
.swiper-mobile-button{
    display: none;
}
.popup-block{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    &__list{
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px;
        font-weight: 600;
        color: #5b5a8b;
        &-text{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 500;
            color: #708484;
        }
    }
}
.input-error{
    border: 1px solid #c35555;
}
.bottom-element-block{
    position: absolute;
    width: 100%;
    height: 86px;    
    bottom: 0;
    left: 0;
    background: url(../../images/bg-rev.png) repeat-x;
    z-index: 2;
    &__group{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &-link{
            position: relative;
            margin-top: 45px;
            cursor: pointer;
            font-size: 14px;
            color: #000;
            &:before{
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                top: 15px;
                border-bottom: 1px dashed #000;
            }
            &:hover{
                &:before{
                    border-bottom: 0px;
                }
            }
            &:after{
                content: '';
                width: 11px;
                height: 7px;
                position: absolute;
                top: 6px;
                right: -20px;
                background: url(../../images/sprite.png) no-repeat;
                background-position: -81px -35px;
            }
            &.active{
                &:after{
                    background-position: -81px -43px
                }
            }
        }
    }
}