.ik_select {
    width: 100%!important;
}
.ik_select_link {
/* Fake select you click on to open the dropdown */
    position: relative;
    width: 247px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #a9a8ba;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    &:before{
        content: '';
        width: 11px;
        height: 6px;
        position: absolute;
        background: url(../../images/sprite.png) no-repeat;
        background-position: -11px -57px;
        right: 20px;
    }
}
.ik_select_link_focus {
/* Focused state of the fake select */
}
.ik_select_link_disabled {
    .ik_select_link_text{
        color: #708484;
    }
}
.ik_select_link_text {
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #5b5a8b;
    white-space: nowrap;
}
.ik_select_dropdown {
/*
Dropdown wrapper. Needed for script calculations.
You should not add any visual styles here.
You can shift the position of the dropdown
by changing top and left values like
top: -2px;
left: -5px;
*/
}
.ik_select_list {
/*
Wrapper for the options list.
Now that's a good place to add visual styles.
*/
}
.ik_select_optgroup {
/* Optgroup */
}
.ik_select_optgroup_label {
/* Optgroup label */
}
.ik_select_option {
/* Option */
}
.ik_select_option_label {
/* Option label */
}
.ik_select_hover {
/* The hovered state of an option */
}
.ik_select_active {
/* The active state of an option */
}
.ik_select_filter_wrap {
/* Wrapper for the filter input */
}
.ik_select_filter {
/* Filter input */
}
.ik_nothing_found {
/* Block that's shown when there's nothing found. */
}