.ik_select {
    width: 100%!important;
}
.ik_select_link {
    position: relative;
    width: 247px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #a9a8ba;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    &:before{
        content: '';
        width: 11px;
        height: 6px;
        position: absolute;
        background: url(../../images/sprite.png) no-repeat;
        background-position: -11px -57px;
        right: 20px;
    }
}
.ik_select_link_focus {
}
.ik_select_link_disabled {
    .ik_select_link_text{
        color: #708484;
    }
}
.ik_select_link_text {
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #5b5a8b;
    white-space: nowrap;
}
.ik_select_list_inner{
    ul{
        margin: 0;
        padding: 0;
    }
}
.ik_select_dropdown {
    width: 100%!important;
    top: 39px!important;
    left: 0!important;
    background: #fff;
    border: 1px solid #a9a8ba;
    border-radius: 4px;
    box-sizing: border-box;
}
.ik_select_list {
}
.ik_select_optgroup {
}
.ik_select_option {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a9a8ba;
    &:last-child{
        border-bottom: 0;
    }
    &:hover{
        background: #d3d2eb;
    }
}
.ik_select_option_label {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #5b5a8b;
}
.ik_select_option_label {
}
.ik_select_hover {
}
.ik_select_active {
}
.ik_select_filter_wrap {
}
.ik_select_filter {
}
.ik_nothing_found {
}