.header {
  margin: 0 auto;
  width: 1170px;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__wrap__img {
  display: block;
  margin-top: 22px;
  max-width: 174px;
  width: 100%;
  height: 82px;
}

.header__wrap__img-prev {
  width: 100%;
}

.header__wrap-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 53px;
}

.header__wrap-group:first-child {
  border-bottom: 1px solid #d4dede;
}

.header__wrap-group:nth-child(2) {
  height: 70px;
}

.top-menu__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0;
  margin: 0;
}

.top-menu__wrap__body {
  list-style: none;
}

.top-menu__wrap__body-link {
  margin-right: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #000;
}

.header-line {
  width: 1px;
  height: 25px;
  background: #d4dede;
}

.group-links__text {
  position: relative;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #000;
  margin: 0 10px;
}

.group-links__text:first-child {
  margin-left: 20px;
}

.group-links__text:last-child {
  margin-right: 20px;
}

.group-links__text:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #000;
  left: 0;
  top: 17px;
}

.group-info {
  max-width: 319px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.group-info__text {
  position: relative;
  margin: 0px 15px 0px 15px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #708484;
}

.group-info__icon {
  width: 14px;
  height: 17px;
  background: url("../../images/sprite.png") no-repeat;
}

.group-info__link {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #000;
  cursor: pointer;
}

.group-info__link:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #000;
  left: 0;
  top: 17px;
}

.group-info_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.group-info_2__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.group-info_2__elements__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #708484;
}