.breadcrumbs{
    display: flex;
    align-items: center;
    margin:30px auto;
    padding: 0;
    max-width: 1170px;
    width: 100%;   
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    &__list{
        line-height: 24px;
        list-style: none;
        &:before{
            content: '';
            display: none;
        }
        &__link{
            text-decoration: none;
            color: #4ab1ae;
            &:hover{
                color: #000;
            }
            &:after{
                content: '/';
                color: #000;
            }
            &-text{
                margin: 0px 5px;
                border-bottom: 1px solid #4ab1ae;
                &:hover{
                    border-bottom: 1px solid #000;
                }
                &.active{
                    border-bottom: 0px;
                }
            }
        }
    }
}