.breadcrumbs{
    display: flex;
    align-items: center;
    margin:30px auto;
    max-width: 1170px;
    width: 100%;   
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    span{
        margin: 0px 7px;
        color: #000;
        line-height: 23px;
        border-bottom: none;
        &:hover{
            color: #000;
            border-bottom: none;
        }
    }
    &__link{
        margin: 0!important;
        text-decoration: none;
        color: #4ab1ae;
        border-bottom: 1px solid #4ab1ae;
        &:hover{
            color: #000;
            border-bottom: 1px solid #000;
        }
    }
}