.header-line{
    min-width: 1px;
    height: 25px;
    background: #d4dede;
}
.group-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    &__text{
        position: relative;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #000;
        white-space: nowrap;
        margin: 0 7px;
        cursor: pointer;
        &:nth-child(2){
            margin-left: 16px;
        }
        &:nth-child(3){
            margin-right: 16px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 14px;
            width: 100%;
            max-height: 1px;
            border-bottom: 1px dashed #000;
        }
        &:hover{
            &:before{
                border-bottom: 0;
            }
        }
    }
    &__icon{
        display: none;
        width: 17px;
        height: 17px;
        margin: 0px 16px;
        margin-right: 8px;
        background: url(../../images/sprite.png) no-repeat;
        background-position: -30px -58px;
        cursor: pointer;
    }
    &__icon_2{
        display: none;
        width: 17px;
        height: 17px;
        margin: 0px 16px;
        margin-left: 8px;
        background: url(../../images/sprite.png) no-repeat;
        background-position: -47px -58px;
        cursor: pointer;
    }
}
.group{
    &__blocks{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}
.group-info{
    display: flex;
    justify-content: space-between;
    &:last-child{
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        //flex-grow: 1;
    }
    &__text{
        position: relative;
        //margin: 0px 0px 0px 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        white-space: nowrap;
        color: #708484;
    }
    &__icon{
        margin: 0px 13px;
        min-width: 14px;
        height: 17px;
        background: url(../../images/sprite.png) no-repeat;
    }
    &__link{
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #000;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
            border-bottom: 0;
        }
        &:hover{
            &:before{
                border-bottom: 0;
            }
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            top: 14px;
            border-bottom: 1px dashed #000;
        }
    }
}
.group-info_2{
    display: flex;
    align-items: center;
    width: 416px;
    &__elements{
        display: flex;
        align-items: center;
        padding: 0px 16px;
        height: 35px;
        border-style: solid;
        border-width: 0px 3px 0px 0px;
        border-image: url(../../images/border-img.png) 0 35 0 0 fill;
        &:first-child{
            padding-left: 0px;
        }
        &:last-child{
            border: none;
        }
        &__img{
            margin-right: 10px;
            min-width: 32px;
            &-prev{
                
            }
        }
        &__text{
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #708484;
        }
    }
}
.group-info_3{
    &__elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__text{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #708484;
            white-space: nowrap;
            &-sup{
                font-size: 8px;
            }
        }
        &-phone{
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            white-space: nowrap;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #000;
        }
    }
}
.group-info_4{
    margin-top: 4px;
    //width: 100%;
    flex-grow: 1; 
    &__elements{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        //width: 186px;
        margin: 0px 10px;
        &-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 35px;
            border: 1px solid #55c3c0;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #000;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: #ccebea;
            }
        }
        &-icon{
            display: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url(../../images/phone.png) no-repeat;
        }
    }
}
.group-info_5{
    /*display: flex;
    justify-content: flex-end;
    flex-grow: 1;*/
    &__elements{
        display: flex;
        text-decoration: none;
        &-icons{
            width: 33px;
            height: 40px;
            background: url(../../images/sprite.png) no-repeat;
            background-position: 0px -17px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            color: #4ab1ae;
            padding-top: 10px;
            margin-right: 13px;
            box-sizing: border-box;
        }
        &-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-text{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #708484;
        }
        &-count{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 700;
            white-space: nowrap;
            color: #000;
            i{
                font-weight: 500;
                font-style: normal;
            }
        }
    }
}
.mobile-menu{
    display: none;
    width: 100%;
    background: #4ab1ae;
    padding: 20px;
    box-sizing: border-box;
    &__group{
        display: flex;
    }
    &__wrap{
        padding: 0;
        margin: 0;
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
        &__list{
            list-style: none;
            padding: 7px 0;
            &-link{
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.mobile-header-logo{
    display: none;
    height: 40px;
    width: 100%;
    justify-content: flex-end;
    &__img{
    }
}
/*.bg-fone{
    position: absolute;
    width: 768px;
    height: 1000%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 99;
    &.hover{
        width: 794px;
    }
}*/