.header-line{
    width: 1px;
    height: 25px;
    background: #d4dede;
}
.group-links{
    &__text{
        position: relative;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #000;
        margin: 0 7px;
        &:first-child{
            margin-left: 16px;
        }
        &:last-child{
            margin-right: 16px;
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 1px dashed #000;
            left: 0;
            top: 17px;
        }
    }
}
.group-info{
    display: flex;
    justify-content: space-between;
    &:last-child{
        justify-content: flex-end;
        flex-grow: 1;
    }
    &__text{
        position: relative;
        margin: 4px 0px 0px 22px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #708484;
    }
    &__icon{
        margin: 0px 13px;
        width: 14px;
        height: 17px;
        background: url(../../images/sprite.png) no-repeat;
    }
    &__link{
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #000;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 1px dashed #000;
            left: 0;
            top: 17px;
        }
    }
}
.group-info_2{
    display: flex;
    align-items: center;
    width: 416px;
    &__elements{
        display: flex;
        align-items: center;
        padding: 0px 16px;
        height: 35px;
        border-style: solid;
        border-width: 0px 3px 0px 0px;
        border-image: url(../../images/border-img.png) 0 35 0 0 fill repeat;
        &:first-child{
            padding-left: 0px;
        }
        &:last-child{
            border: none;
        }
        &__img{
            margin-right: 10px;
            &-prev{
                
            }
        }
        &__text{
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #708484;
        }
    }
}
.group-info_3{
    width: 212px;
    &__elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__text{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #708484;
            &-sup{
                font-size: 8px;
            }
        }
        &-phone{
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #000;
        }
    }
}
.group-info_4{
    margin-top: 4px;
    &__elements{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 186px;
        &-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 35px;
            border: 1px solid #55c3c0;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #000;
            cursor: pointer;
        }
    }
}
.group-info_5{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    &__elements{
        display: flex;
        &-icons{
            width: 33px;
            height: 40px;
            background: url(../../images/sprite.png) no-repeat;
            background-position: 0px -17px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            color: #4ab1ae;
            padding-top: 10px;
            margin-right: 13px;
            box-sizing: border-box;
        }
        &-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-text{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #708484;
        }
        &-count{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #000;
            i{
                font-weight: 500;
                font-style: normal;
            }
        }
    }
}