.main-menu{
    width: 100%;
    height: 50px;
    background: #55c3c0;
    display: flex;
    align-items: center;
    &__body{
        display: block;
        flex-grow: 1;
    }
    &__wrap{
        display: flex;
        margin: 0;
        padding: 0;
        &__list{
            position: relative;
            list-style: none;
            display: flex;
            align-items: center;
            &:last-child{
                .main-menu__wrap__list-link{
                    &:before{
                        content: '';
                        position: absolute;
                        border-radius: 4px;
                        width: 4px;
                        height: 4px;
                        background: none;
                        right: -2px;
                        z-index: 99;
                    }
                }
            }
            &:hover{
                background: #48b0ad;
            }
            &.active{
                display: block;
            }
            &__ul{
                display: none;
                position: absolute;
                width: 220px;
                top: 50px;
                left: 0px;
                padding: 0;
                background: #4ab1ae;
                &.active{
                    display: block;
                    top: 0;
                    width: 100%;
                    position: relative;
                }
                li{
                    list-style: none;
                    border-bottom: 1px solid #55c3c0;
                    &:last-child{
                        border-bottom: 0;
                    }
                    &:first-child{
                        border-top: 1px solid #55c3c0;
                    }
                    a{
                        padding: 0px 22px;
                        display: flex;
                        align-items: center;
                        height: 40px;
                        width: 100%;
                        text-decoration: none;
                        color: #fff;
                        font-size: 11px;
                    }
                }
            }
            &-button{
                display: none;
                width: 20px;
                height: 20px;
                background: url(../../images/down.png)no-repeat;
                background-position: center;
                position: absolute;
                right: 0;
                top: 15px;
                z-index: 99;
            }
            &-dot{
                border-radius: 4px;
                width: 4px;
                height: 4px;
                background: #aae1e0;
            }
            &-link{
                position: relative;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 600;
                white-space: nowrap;
                color: #fff;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0px 22px;
                transition: all 0.3s;
                &:hover{
                    background: #48b0ad;
                }
                /*&:before{
                    content: '';
                    position: absolute;
                    border-radius: 4px;
                    width: 4px;
                    height: 4px;
                    background: #aae1e0;
                    right: -2px;
                    top: 23px;
                    z-index: 99;
                }*/
            }
        }
    }
}