.search-button-mobile{
    display: none;
}
.search{
    width: 100%;
    display: block;
    &__group{
        flex-grow: 1;
        width: 100%;
        height: 50px;
        display: flex;
        background: #4ab1ae;
    }
    &__poly{
        width: 100%;
        background: none;
        border: none;
        outline: none;
        padding-left: 30px;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #fff;
    }
    &__wrap{
        max-width: 50px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-button{
            border: none;
            outline: none;
            margin-right: 20px;
            width: 16px;
            height: 11px;
            background: url(../../images/sprite.png) no-repeat;
            background-position: 5px -57px;
            cursor: pointer;
        }
    }
}
.search-bg{
    display: none;
}
.search__poly::-webkit-input-placeholder{ /* WebKit browsers */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#fff;
}
.search__poly:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    
    color:#fff;
}
.search__poly::-moz-placeholder{ /* Mozilla Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#fff;
}
.search__poly:-ms-input-placeholder{ /* Internet Explorer 10+ */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#fff;
}