.top-menu{
    &__wrap{
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0;
        margin: 0;
        &__body{
            list-style: none;
            &-link{
                margin-right: 18px;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #000;
            }
        }
    }
}