html, body{
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
ol{
    counter-reset: myCounter;
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        &:before{ 
            counter-increment: myCounter;
            content:counter(myCounter);
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #55c3c0;
            background: #fff;
            border: 1px solid #55c3c0;
            border-radius: 50px;
            display: inline-block;
            text-align: center;
            margin: 5px 10px;
            margin-left: 0;
            line-height: 22px;
            width: 24px;
            height: 24px;
            box-sizing: border-box;
        }
        ul{
            padding-left: 55px;
            li{
                line-height: 25px;
                list-style: none;
                position: relative;
                &:before{ 
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 4px;
                    border: none;
                    background: url(../../images/sprite.png) no-repeat;
                    background-position: -15px 0px;
                    width: 9px;
                    height: 10px;
                }
            }
        }
    }
}
/*ul{
    padding-left: 20px;
    li{
        line-height: 25px;
        list-style: none;
        position: relative;
        &:before{ 
            content: '';
            position: absolute;
            left: -20px;
            top: 8px;
            border: none;
            background: url(../../images/sprite.png) no-repeat;
            background-position: -15px 0px;
            width: 9px;
            height: 10px;
        }
    }
}*/
h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: #000;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 23px;
    color: #000;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: #000;
}
.p-0{
    padding: 0px!important;
    border-bottom: 0px!important;
}
.p-0-hidden{
    span{
        display: none!important;
    }
    div{
        display: none!important;
    }
}
.m-30{
    margin-top: 30px;
}
.link{
    cursor: pointer;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
.top{
    display: none;
    width: 46px;
    height: 46px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    background: url(../../images/top.png) no-repeat;
}
.rub{
    display: inline-block;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid;
    line-height: 0.35em;
    display: inline-block;
    width: 0.35em;
    margin-right: 5px;
    &__cur{
        display: none;
    }
}
.hidden-block{
    display: block;
}
*::-ms-backdrop, html, body { height: auto!important;}
*::-ms-backdrop, .search { width: 100%;}
*::-ms-backdrop, .group-info_4 { width: 100%;}
*::-ms-backdrop, .call-back__wrap__right_block { width: auto!important;}
*::-ms-backdrop, .order-info__group__window:before { right: 20px!important;}