.call-back{
    width: 975px;
    height: 427px;
    &__wrap{
        display: flex;
        &__left_block{
            background: url(../../images/bg-popup-call.png) no-repeat;
            width: 100%;
            height: 427px;
        }
        &__right_block{
            width: 100%;
            height: 427px;
            padding: 60px 70px 80px 70px;
            box-sizing: border-box;
        }
    }
}
.call-back-form{
    display: flex;
    flex-direction: column;
    &__name{
        padding: 0px 20px;
        display: inline-block;
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 28px;
        line-height: 35px;
        color: #000;
    }
    &__button{
        height: 45px;
        border: none;
        border-radius: 4px;
        background: #55c3c0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        outline: none;
        cursor: pointer;
        color: #fff;
        transition: all 0.3s;
        &:hover{
            background: #2bb4b0;
        }
    }
    .group{
        position: relative;
        margin-bottom: 20px;
    }
}
.popup-call-back{
    max-width: 100%;
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
}